.*.swp
*~
/.project
/.idea
/composer.lock
/vendor
/node_modules
/.eslintcache
src/.DS_Store
resources/localization/.DS_Store
modules/ext.adiutor/.DS_Store
modules/.DS_Store
resources/.DS_Store
.DS_Store
/coverage/
/.stylelintcache
